@use '/src/styles/fonts';
@use '/src/styles/colors';
@use '/src/styles/mixins';

.login-page{
    @include mixins.flex-center();
    padding: 6rem 2rem;
    width: 100%;
    .blue-head{
        margin-bottom: 3rem;
    }
    .login-wrapper{
        max-width: 400px;
        width: 100%;
    }
    form{
        button{
            margin-top: 1rem;
        }
        .terms{
            font-weight: 400;
            font-size: fonts.$font-size-xs;
            text-align: center;
            margin-top: 1.4rem;
        }
        a{
            @include mixins.text-gradient;
            font-weight: inherit;
            font-family: inherit;
            font-size: inherit;
        }
        .login-btn{
            margin: 2rem 0  1rem;
        }
        .new-user{
            font-weight: 400;
            text-align: center;
            margin-top: 1rem;
        }
    }
    .connect-using{
        overflow: hidden;
        text-align: center;
        font-size: fonts.$font-size-xs;
        margin: 2rem 0;
        color: rgba($color: #fff, $alpha: 0.7);
        
        &:before,
        &:after {
        border-bottom: 1px dashed colors.$color-purple-1;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
        }
        
        &:before {
        right: 0.5em;
        margin-left: -50%;
        }
        
        &:after {
        left: 0.5em;
        margin-right: -50%;
        }
    }
    .social-login{
        margin-top: 1.5rem;
        @include mixins.flex-col(center, flex-start);
        gap: 1.5rem;
        button{
            @include mixins.flex(center, center);
            gap: 1rem;
            font-size: fonts.$font-size-sm;
            img{
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }
}