@use '/src/styles/colors';
@use '/src/styles/mixins' as fn;
@use '/src/styles/fonts';

.input-box{
    @include fn.flex-col(start, flex-start);
    width: 100%;
    .title{
        margin-top: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .required{
        color: colors.$color-purple-2 !important;
    }
    .password-field{
        width: 100%;
        .forget-pass{
            width: 100%;
            @include fn.flex(center, end);
            font-size: fonts.$font-size-xs;
            button{
                font-family: fonts.$font-rubik !important;
                padding: 0.2rem 0;
            }
        }
    }
    input{
        width: 100%;
        background-color: #00000000;
        color: #fff;
        border: none;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
        // border-radius: 10px;
        padding: 0.75rem 0;
        font-family: fonts.$font-rubik;        
        &:focus{
            outline: rgba($color: #fff, $alpha: .3);
        }
    }
    textarea{
        width: 100%;
        background-color: #00000000;
        color: #fff;
        border: none;
        border: 1px solid rgba($color: #fff, $alpha: 0.3);
        border-radius: 10px;
        padding: 1rem;
        resize: none;
        font-family: fonts.$font-rubik;        
        &:focus{
            outline: rgba($color: #fff, $alpha: .3);
        }
    }
}

.input-box input:focus {
    border-bottom:1px solid colors.$color-purple-2;
    animation: border_anim 0.1s linear forwards;
}
@keyframes border_anim {
	0%{
		width: 50%;
	}
	100%{
		width: 100%;
	}
}