@use "/src/styles/colors";
@use "/src/styles/mixins" as fn;
@use "/src/styles/fonts";

.activity {
  width: 100%;
  max-width: 1290px;
  padding: 6rem 2rem;
  position: relative;
  .activity-header {
    display: grid;
    grid-template-columns: 32% 68%;
    .filter-icon {
      @include fn.flex(center, flex-start);
      font-weight: 500;
      gap: 10px;
      font-size: fonts.$font-size-3xl;
      img {
        display: block;
      }
    }
    .active-filters {
      @include fn.flex(center, flex-start);
      min-height: 55.2px;
      gap: 2rem;
      font-weight: 300 !important;
      .active-filter {
        @include fn.flex(center, space-between);
        gap: 0.4rem;
        font-size: fonts.$font-size-xl;
        padding: 14px;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.3);

        img {
          display: block;
        }
      }
      .clear-all-button {
        font-size: fonts.$font-size-xl;
        background: colors.$gradient-blue;
        background-clip: text;
        color: transparent;
      }
    }
  }
  .activity-body {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 2.3rem;
    grid-column-gap: 22px;
     @media screen and (max-width: 768px) {
       grid-template-columns: repeat(1, 1fr);
     }
  }
}
