@use "/src/styles/colors";
@use "/src/styles/mixins" as fn;
@use "/src/styles/fonts";

.drop-down-search {
  @include fn.flex-col(center, center);
  margin-top: 30px;
  align-self: flex-start;
  position: relative;
  gap: 25px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 3rem 0;
  padding-bottom: 2rem;
  max-width: 356px;

  .drop-down-search-heading {
    @include fn.flex(center, space-between);
    width: 80%;
    margin: 0;
    text-align: left;
    font-size: fonts.$font-size-3xl;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.12);

    img {
      display: block;
      margin-left: auto;
      height: 2rem;
      width: auto;
    }
  }
  .drop-down-search-holder {
    @include fn.flex-col(center, flex-start);
    overflow: hidden;
    max-width: 356px;
    min-height: 0;
    height: 300px;
    gap: 30px;

    transition: height 0.3s ease-in-out;
    .search {
      background-color: transparent;
      padding-top: 15px;
      padding-bottom: 15px;
      .search-icon {
        @include fn.flex(center, center);
        img {
          display: block;
        }
      }
    }
    .search-bar {
      border: 1px solid rgba(255, 255, 255, 0.3);
      position: relative;
      width: 90%;
      height: 56px;
      min-height: 56px;
      input {
        color: #fff;
        font-size: fonts.$font-size-base;
      }
      input::placeholder {
        color: #fff;
        font-size: fonts.$font-size-base;
      }
    }
    .drop-down-list {
      @include fn.flex-col(flex-start, flex-start);
      gap: 30px;
      width: 80%;

      .drop-down-list-element {
        @include fn.flex(center, flex-start);
        gap: 6px;
        .drop-down-list-element-image {
          display: block;
          height: 28px;
          width: 28px;
          border-radius: 50%;
        }
      }
    }
  }
}
