@use '/src/styles/fonts';
@use '/src/styles/mixins';

.search-bar{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 1rem;
}

.search{
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    background-color: rgba($color: #666, $alpha: 0.2);
    gap: .5rem;
    @include mixins.flex(center, start);
    .search-icon{
        img{
            height: 1rem;
            width: 1rem;
        }
    }
    input{
        background: none;
        width: 100%;
        font-size: fonts.$font-size-sm;
        font-family: fonts.$font-poppins;
        border: none;
        &:focus{
            outline: none !important;
            color: #666;
        }
    }
}