@use "/src/styles/colors";
@use "/src/styles/mixins" as fn;
@use "/src/styles/fonts";

.explore {
  position: relative;
  max-width: 1290px;
  width: 90%;
  padding: 6rem 2rem;
  padding-bottom: 25rem;

  .explore-heading {
    font-weight: 600;
    font-size: fonts.$font-size-5xl;
    background: colors.$gradient-blue;
    background-clip: text;
    color: transparent;
  }
  .explore-filters {
    @include fn.flex(center, flex-start);
    gap: 2rem;
    width: 100%;
    // border-bottom: solid 4px rgba(255, 255, 255, 0.2);
    font-size: fonts.$font-size-2xl;
    // padding: 20px 0;
    overflow-x: scroll;
    position: relative;
    overflow-y: hidden;
    &::after{
      content: '';
      // left: 0;
      right: 0;
      width: 100%;
      min-width: 100%;
      height: 4px;
      position: sticky;
      bottom: 0;
      top: 100%;
      background-color: rgba(255, 255, 255, 0.2);
    }
    .explore-filter {
      position: relative;
      line-height: 3;
      // padding: 0 30px;
    }
    .explore-filter::after {
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0;
      content: "";
      height: 4px;
      background: colors.$gradient-blue;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    .explore-filter.active::after {
      opacity: 1;
    }
  }
  .explore-elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    margin-top: 4rem;
    .explore-element {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 15px;
      align-items: center;
      font-size: fonts.$font-size-xl;
      font-weight: 400;

      .explore-element-item-image {
        grid-column: 1/3;
        // padding-bottom: 1rem;
        overflow: hidden;
        aspect-ratio: 1/1.1;
        width: 100%;
        // height: 415px;
        img {
          border-radius: 20px;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .explore-element-price {
        text-align: right;
        background: colors.$gradient-blue;
        background-clip: text;
        color: transparent;
      }
      .explore-element-stock {
        text-align: right;
      }
      .explore-element-creators {
        @include fn.flex(center, center);
        .explore-element-creator-image {
          display: block;
          height: 63px;
          width: 63px;
          border-radius: 50%;
        }
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .explore{
    .explore-filters{
      .explore-filter{
        padding-left: 0;
      }
      .explore-filter:last-child{
        padding-right: 0;
      }
    }
    .explore-elements{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 768px) {
  .explore{
    .explore-elements{
      grid-template-columns: repeat(1, 1fr);
    }
  }
}