@use "/src/styles/colors";
@use "/src/styles/mixins" as fn;
@use "/src/styles/fonts";

.homepage {
  position: relative;
  max-width: 1290px;
  padding: 6rem 2rem;
  padding-bottom: 4rem;
  width: 100%;
  overflow: hidden;
}

.topBanner {
  padding-top: 10rem;
  @include fn.flex(center, space-between);
  gap: 3rem;
  p {
    font-weight: 500;
  }
  .largeText {
    padding: 1rem 0;
    font-weight: bold;
    font-size: fonts.$font-size-5xl;
  }
  img {
    width: 450px;
  }
}

// Background Stuff
.top-banner-circles {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

.unicusEcosystem {
  margin-top: 13rem;
  > p {
    font-size: fonts.$font-size-xl;
    text-align: center;
    margin-top: 1rem;
  }
  .ecosystemGrid {
    margin-top: 8rem;
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(3, 1fr);
    .gridData {
      @include fn.flex-col(start, flex-start);
      gap: 1rem;
      .itemMid {
        font-weight: 500;
      }
      p:last-child {
        font-size: fonts.$font-size-sm;
        max-width: 330px;
      }
    }
  }
}

// Background
.background-particle,
.background-particle-number,
.background-particle-looper {
  position: absolute;
  z-index: -1;
}

.background-particle:nth-of-type(2n + 1) {
  right: -30%;
}

.background-particle:nth-of-type(2n) {
  left: -30%;
}

.background-particle:nth-of-type(1) {
  top: 14%;
}

.background-particle:nth-of-type(2) {
  top: 30%;
}

.background-particle:nth-of-type(3) {
  top: 42%;
}

.background-particle:nth-of-type(4) {
  top: 67%;
}

.background-particle:nth-of-type(5) {
  top: 80%;
}

.background-particle:nth-of-type(6) {
  top: 91%;
}

.background-particle-looper {
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
}

#root > div > div > img:nth-child(8) {
  top: 47%;
}
#root > div > div > img:nth-child(9) {
  top: 53%;
}

.solutions {
  @include fn.flex-col(center, flex-start);
  gap: 2rem;
  margin-top: 10rem;
}

.soln-head {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: fonts.$font-size-3xl;
  margin: 5rem 0;
  font-weight: 600;
}

.soln-1 {
  .background-particle {
    top: -50%;
    right: -18.8%;
  }
}

.soln-2 {
  .background-particle {
    top: -5%;
    left: -18%;
  }
  .soln-head {
    .background-particle-number {
      right: 0;
      top: -150%;
    }
  }
}

.soln-3 {
  .background-particle {
    top: -5%;
    right: -25%;
  }
}

.soln-1,
.soln-3 {
  .soln-head {
    text-align: right;
    .background-particle-number {
      left: 0;
      top: -150%;
    }
  }
}

.soln-1,
.soln-3,
.soln-2 {
  position: relative;
  margin-bottom: 6rem;
  width: 100%;
  .title {
    @include fn.text-gradient;
    font-weight: 500;
    font-size: fonts.$font-size-2xl;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  .soln-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin: 6rem 0;
    .grid-data {
      border-radius: 10px;
      font-weight: 300;
      padding: 2rem;
      background-color: #060714;
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#8476f1, #ffffff);
        opacity: 0.16;
      }
    }
  }
}

.soln-info1,
.soln-info2,
.soln-info3{
  img{
    width: 550px;
    height: 500px;
    object-fit: cover;
  }
}

.soln-info1,
.soln-info3 {
  @include fn.flex(center, space-between);
  gap: 4rem;
}
.soln-info2 {
  @include fn.flex(center, space-between);
  flex-direction: row-reverse;
  gap: 4rem;
}

.roadmap {
  margin-top: 10rem;
  width: 100%;
  > p {
    text-align: center;
    margin-top: 1rem;
    font-size: fonts.$font-size-2xl;
    font-weight: 300;
  }
  .roadmap-img {
    @include fn.flex-center();
    flex-direction: column;
    position: relative;
    margin: 8rem 0;
    width: 100%;
    img{
      width: 100%;
    }
    .roadmap-info {
      width: 100%;
      margin-top: 4rem;
      @include fn.flex(start, space-evenly);
      text-align: center;
      p {
        font-weight: 300;
        margin-top: 1rem;
      }
    }
  }
}
.token {
  margin-top: 10rem;
  .background-particle {
    left: -20%;
  }
  > p {
    text-align: center;
    margin-top: 1rem;
    font-size: fonts.$font-size-2xl;
    font-weight: 300;
  }
  .token-info {
    margin: 6rem 0;
    @include fn.flex(start, space-between);
    gap: 2rem;
    img {
      width: 550px;
      height: 500px;
      object-fit: cover;
    }
    div {
      @include fn.flex-col(start, flex-start);
      gap: 2rem;
    }
    li {
      margin-bottom: 1rem;
    }
  }
}
.blogs {
  margin-top: 10rem;
  > p {
    text-align: center;
    margin-top: 1rem;
    font-size: fonts.$font-size-2xl;
    font-weight: 300;
  }
  .blog-img {
    width: 380px;
    height: 430px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .blog-grid {
    margin: 4rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.blog-card {
  @include fn.flex-col(start, flex-start);
  gap: 1rem;
  width: 300px;
  .blog-img{
    width: 300px;
    height: 350px;
    border-radius: 1.5rem;
  }
  .category {
    font-weight: 500;
    font-size: fonts.$font-size-xs;
    color: colors.$color-purple-1;
  }
  .title {
    font-weight: 500;
    font-size: fonts.$font-size-sm;
  }
  .desc {
    font-weight: 300;
    font-size: fonts.$font-size-xs;
  }
  .read-more {
    overflow: hidden;
    text-align: center;
    color: colors.$color-purple-1;
    text-decoration: none;
    font-size: fonts.$font-size-xs;
    width: 100%;
    margin-top: 1rem;
  }

  .read-more:before,
  .read-more:after {
    background-color: colors.$color-purple-1;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .read-more:before {
    right: 0.5em;
    margin-left: -50%;
  }

  .read-more:after {
    left: 0.5em;
    margin-right: -50%;
  }
}
.testimonials {
  margin-top: 10rem;
  .background-particle {
    top: -100%;
    right: -20%;
  }
  > p {
    text-align: center;
    margin-top: 1rem;
    font-size: fonts.$font-size-2xl;
    font-weight: 300;
  }
  .testimonial-grid {
    margin: 4rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.testimonial-card {
  border-radius: 10px;
  background: #121214;
  padding: 3rem;
  @include fn.flex-col(center, center);
  gap: 1rem;
  position: relative;
  img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
  }
  .name {
    font-weight: 500;
  }
  .profession {
    color: colors.$color-purple-1;
    font-weight: 500;
    font-size: fonts.$font-size-xs;
  }
  .testimonial {
    font-weight: 300;
    font-size: fonts.$font-size-sm;
    text-align: center;
  }
  &::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    height: 7px;
    background-color: colors.$color-purple-1;
    width: 95%;
    top: 0;
  }
}

.stay-in-loop {
  @include fn.flex(center, space-between);
  margin-top: 10rem;
  .background-particle {
    left: -20%;
    top: -40%;
  }
  h2 {
    font-size: fonts.$font-size-5xl;
  }
  span {
    font-size: fonts.$font-size-sm;
    font-weight: 300;
  }
  .inputs {
    @include fn.flex(center, flex-start);
    gap: 2rem;
    margin-top: 1rem;
    button {
      font-weight: 500;
      font-family: fonts.$font-rubik;
    }
  }
}

@media screen and (max-width: 1024px) {
  .soln-info1,
  .soln-info2,
  .soln-info3{
    img{
      width: 450px;
      height: 400px;
    }
  }
  .token{
    .token-info{
      img{
        width: 350px;
        height: 300px;
      }
    }
  }
  .blog-card {
    width: 250px;
    .blog-img{
      width: 250px;
      height: 300px;
    }
  }
  .testimonial-card {
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    img {
      width: 150px;
      height: 150px;
    }
  }
}

@media screen and (max-width: 992px) {
  .homepage{
    padding: 2rem;
  }
  .topBanner{
    .largeText{
      font-size: fonts.$font-size-3xl;
    }
  }
  .unicusEcosystem {
    .ecosystemGrid {
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .soln-head{
    text-align: center !important;
  }
  .soln-info1,
  .soln-info2,
  .soln-info3{
    img{
      width: 350px;
      height: 300px;
    }
  }
  .soln-grid{
    gap: 2rem !important;
  }
  .token{
    .token-info{
      img{
        width: 350px;
        height: 300px;
      }
    }
  }
  .blog-card {
    width: 200px;
    .blog-img{
      width: 200px;
      height: 250px;
    }
  }
  .stay-in-loop{
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .topBanner{
    flex-direction: column-reverse;
    padding-top: 0;
    p{
      width: 100%;
    }
    img{
      width: 100%;
    }
    .largeText{
      font-size: fonts.$font-size-3xl;
    }
  }
  .unicusEcosystem {
    margin-top: 6rem;
    .ecosystemGrid {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 4rem;
      .gridData {
        @include fn.flex-col(center, flex-start);
        p{
          text-align: center;
        }
      }
    }
  }
  .soln-info1,
  .soln-info2,
  .soln-info3{
    flex-direction: column;
    img{
      width: 300px;
      height: 250px;
    }
  }
  .soln-3{
    margin-bottom: 0 ;
  }
  .soln-grid{
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .roadmap{
    margin-top: 0;
    .roadmap-info{
      .blue-head{
        font-size: fonts.$font-size-base;
      }
      p{
        font-size: fonts.$font-size-sm;
      }
    }
  }
  .roadmap-img{
    margin: 4rem 0 !important;
    img{
      width: 100%;
    }
  }
  .token{
    margin-top: 4rem;
    .token-info{
      flex-direction: column;
      align-items: center;
      img{
        width: 300px;
        height: 250px;
      }
    }
  }
  .blogs{
    margin-top: 0;
    width: 100%;
    .blog-grid{
      grid-template-columns: repeat(1, 1fr);
      .blog-card{
        width: 100%;
        align-items: center;
        .blog-img{
          width: 250px;
          height: 300px;
        }
      }
    }
  }
  .testimonial-grid{
    grid-template-columns: repeat(1, 1fr) !important;
    .testimonial-card{
      padding-top: 4rem;
      padding-bottom: 4rem;
      img{
        width: 200px;
        height: 200px;
      }
    }
  }
  .stay-in-loop{
    img{
      width: 100%;
    }
    .inputs{
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
    }
  }
}